@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Universal Selector */
* {
  padding: 0;
  /* margin: 0; */
}

/* Shared styles */
.display-flex{
  display: flex;
}
.btn-primary{
  color: white;
  font-weight: 600;
  font-size: 1.25rem;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  background-color: #FF900E;
}
.btn-primary:hover{
  box-shadow: 1px 2px 10px 1px #424242;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}

/* Primary Color */
.bg-primary{
  background-color: rgba(255, 144, 14, 0.1);
}
/* Dark 01 */
.dark-black{
  color: #131313;
}
/* Dark 02 */
.dark-gray{
  color: #424242;
}
/* Dark 03 */
.light-gray{
  color: #727272;
}
/* Orange Color */
.orang-clr{
  color: #FF900E;
}
/* Navbar styles */
.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand, .facts-title{
  font-weight: 700;
  font-size: 2.8rem;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}

.nav-link{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}


/* Banner related styles */
.banner-content{
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 28px;
}

.banner-image{
  width: 100%;
  padding-bottom: 45px;
}

.banner-description{
  margin-bottom: 32px;
}

/* Our teams related styles */
.teams{
  align-items: center;
  margin-top: 80px;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.teams-text-container{
  max-width: 537px;
  margin: 0 auto;
  
}
.text-1{
  font-size: 2.8rem;
  font-weight: 500;
}
.text-2, .text-3{
  font-size: 2.8rem;
  font-weight: 700;
}
.teams-description{
  font-size: 1rem;
  line-height: 26px;
  padding-bottom: 16px;
}

/* Our Features Section */

/* Our Facts Section */
.facts-title{
  margin-bottom: 24px;
}

.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 80px;
}

.fact-card{
  border: 1.5px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fact-icon{
  margin-top: 45px;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}
.fact-title{
  color: #727272;
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 5px;
  margin-bottom: 60px;
}




/* Mobile Responsive Media */
@media screen and (max-width: 576px) {
  /* Navbar Section */
  .navbar, .nav-links{
    flex-direction: column;
  }
  /* Teams Section */
  .teams{
    flex-direction: column;
  }
  .team-img-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .teams-text-container{
    text-align: center;
    margin-top: 30px;
  }
  /* Facts Section */
  .our-facts{
    text-align: center;
  }
  .facts-container{
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    row-gap: 30px;
  }
}

/* Tablet Responsive Media */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams{
    flex-direction: column;
    text-align: center;
  }
  .teams-text-container{
    margin-top: 30px;
  }
  .our-facts{
    text-align: center;
  }
  .facts-container{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    justify-items: center;
  }
  .facts-description{
    text-align: center;
  }
}

